* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2941ab;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    padding: 30px 0; 
    border-bottom: 3px solid #1ED760;
}

header h1 {
    color: #fff;
    font-size: 3rem;
}

/* MAIN */

.psw-container {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.psw-text {
    align-self: center;
}

h3 {
    font-size: 2rem;
    color: #1ED760;
    margin-top: 140px;
}

.psw-box {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 70%;
    padding: 120px 0;
    background-color: rgb(27, 27, 27);
    margin-top: 40px;
    border-radius: 40px;
    border: 3px solid #1ED760;
}

.new-psw {
    color: white;
    font-size: 2.2rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 830px) {
    header {
        width: 100%;
    }
    header h1 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.5rem;
        margin-top: 100px;
    }
    .psw-box {
        padding: 100px 0;
    }
    .new-psw {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 460px) {
    header {
        width: 100%;
    }
    header h1 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.3rem;
        margin-top: 100px;
    }
    .psw-box {
        padding: 80px 0;
    }
    .new-psw {
        font-size: 1.2rem;
    }
}


